v0.1/module.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://github.com/elen-star/schema/main.xsd"
            targetNamespace="http://github.com/elen-star/schema/main.xsd"
            elementFormDefault="qualified">

    <xsd:include schemaLocation="common.xsd"/>

    <xsd:element name="module" type="tns:Module"/>

    <xsd:complexType name="Module">
        <xsd:sequence>
            <xsd:element name="name"        type="tns:name"/>
            <xsd:element name="version"     type="xsd:long"/>
            <xsd:element name="description" type="tns:description"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>